target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store


# ===== Private configs (do not publish) =====
config/priv/
node-server/setting/private/

# Any other folders named "priv" or "private"
**/priv/**
**/private/**

# Node.js dependencies (must be ignored)
node-server/node_modules/
**/node_modules/

# IntelliJ project files
.idea/

# Node bundle packer script (local only)
pack-src.js